.footer {
  grid-row: 5/-1;
  grid-column: 2 / span 12;
  align-self: end;
  height: 100%;
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 1fr 40px;
  border: none;
  border-radius: 20px 20px 0px 0px;
  background-image: radial-gradient($colorIcons, $colorBgHeaderDark);
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.05);
  padding: 5px 5% 5px 5%;
  z-index: 800;
  text-align: center;

  @include forPc {
    grid-column: 1/-1;
    grid-row: 4;
    background-image: none;
    background-color: $colorBgHeaderDark;
    border-radius: 6px 6px 0px 0px;
    grid-template-columns: 40px repeat(2, 1fr);
  }

  h6 {
    grid-row: 1;
    grid-column: 1/-1;
    color: $colorLvl2;
    font-size: $fontH4;
    place-self: center;

    @include forTablet {
      font-size: $fontTH6;
    }

    @include forPc {
      grid-row: 1;
      grid-column: 2;
      font-size: $fontTH4;
      align-self: center;
      justify-self: left;
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  .refsIcon {
    grid-row: 1/3;
    grid-column: 2;
    height: 40px;
    width: 40px;
    background: url(../../images/resources.svg) no-repeat;
    background-size: contain;
    place-self: center;

    @include forTablet {
      height: 50px;
      width: 50px;
    }

    @include forPc {
      height: 35px;
      width: 35px;
      align-self: center;
      justify-self: left;
      grid-row: 1;
      grid-column: 1;
    }
  }

  .reg {
    grid-column: 1/-1;
    grid-row: 2;
    color: $colorLvl2;
    text-decoration: none;
    place-self: center;
    font-size: $fontA;

    @include forTablet {
      font-size: $fontH4;
    }

    @include forPc {
      font-size: $fontA;
      align-self: center;
      justify-self: right;
      grid-row: 1;
      grid-column: 3;
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}
