.infoList {
  grid-column: 2;
  text-align: center;

  .li {
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 20px 1fr;
    position: relative;
    list-style: none;
    padding: 10px;
    border-radius: 20px;
    background-color: $colorBgLi;
    margin-bottom: 10px;
    :first-letter {
      text-transform: capitalize;
    }

    @include forPc {
      border-radius: 6px;
      grid-template-columns: 55px 1fr;
    }

    &.enable {
      background: url(../../images/enable.png);
      box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
      background-size: cover;
    }

    &.horarios {
      background: url(../../images/info.png);
      box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
      background-size: cover;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      justify-items: center;
      :first-letter {
        text-transform: none;
      }
    }

    &.horariosInfo {
      padding-bottom: 3%;
      background-color: $colorLvl1;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      justify-items: center;
      :first-letter {
        text-transform: none;
      }
    }

    &.moreInfo {
      color: $colorBgHeaderDark;
      background-color: $colorLvl1;
      grid-template-columns: 1fr;
      :first-letter {
        text-transform: capitalize;
      }
      :first-line {
        font-weight: bold;
        font-size: 0.9rem;
        letter-spacing: 0.5px;
        color: $colorIcons;
      }
    }

    .infoTitle {
      display: inline-block;
      text-align: left;
      padding-left: 5%;
      padding-top: 3px;
      padding-bottom: 3px;
      font-size: $fontP;
      font-weight: bold;
      line-height: $lineHeight;
      letter-spacing: 1.1px;

      @include forPc {
        padding-left: 0;
      }
    }

    .timeText {
      text-align: center;
      padding-left: 15%;
      padding-right: 15%;
      font-size: $fontH4;
      line-height: $lineHeight;
      letter-spacing: 1.1px;
    }

    .infoText {
      text-align: left;
      padding-left: 5%;
      font-size: $fontP;
      line-height: $lineHeight;
      letter-spacing: 1.1px;
    }

    .none {
      display: none;
    }

    .icon {
      grid-column: 1;
      grid-row: 1/-1;
      place-self: center;
      width: 45px;
      height: 45px;

      @include forPc {
        width: 40px;
        height: 40px;
      }

      &.a {
        background: url(../../images/a.svg) no-repeat;
        background-size: contain;
      }

      &.b {
        background: url(../../images/b.svg) no-repeat;
        background-size: contain;
      }

      &.c {
        background: url(../../images/c.svg) no-repeat;
        background-size: contain;
      }

      &.d {
        background: url(../../images/ii.svg) no-repeat;
        background-size: contain;
      }

      &.cultos {
        background: url(../../images/culto.svg) no-repeat;
        background-size: contain;
      }

      &.bodas {
        background: url(../../images/boda.svg) no-repeat;
        background-size: contain;
      }

      &.pequeños {
        background: url(../../images/pequeños.png) no-repeat;
        background-size: contain;
      }

      &.grandes {
        background: url(../../images/grandes.png) no-repeat;
        background-size: contain;
      }

      &.cc {
        background: url(../../images/mall.svg) no-repeat;
        background-size: contain;
      }

      &.mercadillos {
        background: url(../../images/mercadillos.svg) no-repeat;
        background-size: contain;
      }

      &.individual {
        background: url(../../images/individual.svg) no-repeat;
        background-size: contain;
      }

      &.profesional {
        background: url(../../images/profesional.svg) no-repeat;
        background-size: contain;
      }

      &.competiciones {
        background: url(../../images/competiciones.svg) no-repeat;
        background-size: contain;
      }

      &.museos {
        background: url(../../images/museo.svg) no-repeat;
        background-size: contain;
      }

      &.bibliotecas {
        background: url(../../images/biblioteca.svg) no-repeat;
        background-size: contain;
      }

      &.funerales {
        background: url(../../images/funerales.svg) no-repeat;
        background-size: contain;
      }

      &.takeaway {
        background: url(../../images/takeaway.svg) no-repeat;
        background-size: contain;
      }

      &.enlocal {
        background: url(../../images/enlocal.svg) no-repeat;
        background-size: contain;
      }

      &.terrazas {
        background: url(../../images/terrazas.svg) no-repeat;
        background-size: contain;
      }

      &.discotecas {
        background: url(../../images/discotecas.svg) no-repeat;
        background-size: contain;
      }

      &.hoteles {
        background: url(../../images/hotel.svg) no-repeat;
        background-size: contain;
      }

      &.cine {
        background: url(../../images/cine.svg) no-repeat;
        background-size: contain;
      }

      &.espectáculos {
        background: url(../../images/show.svg) no-repeat;
        background-size: contain;
      }

      &.exteriores {
        background: url(../../images/festival.svg) no-repeat;
        background-size: contain;
      }
    }

    .yes {
      grid-column: 1;
      grid-row: 1/-1;
      width: 20px;
      height: 20px;
      background: url(../../images/yes.svg) no-repeat;
      background-size: contain;
      place-self: center;
      margin-top: 60%;
      margin-left: 70%;
      z-index: 999;

      @include forPc {
        width: 10px;
        height: 10px;
      }
    }

    .no {
      grid-column: 1;
      grid-row: 1 / span 2;
      width: 20px;
      height: 20px;
      background: url(../../images/no.svg) no-repeat;
      background-size: contain;
      place-self: center;
      margin-top: 60%;
      margin-left: 70%;
      z-index: 999;

      @include forPc {
        width: 10px;
        height: 10px;
      }
    }

    .empty {
      display: none;
    }
  }
  .otherInfo {
    padding: 10px;
    display: inline-block;
    text-align: center;
    line-height: $lineHeight;
    letter-spacing: 1.1px;
    font-size: $fontP;
  }

  .noInfo {
    display: none;
  }

  .important {
    margin-left: 5%;
    margin-right: 5%;
    list-style: none;
    border: 1px dashed red;
    color: $colorBgHeaderDark;
    font-size: $fontP;
    font-style: oblique;
    letter-spacing: 0.5px;
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
  }
}
