$tablet: 768px;
$pc: 1200px;
$colorLvl1: white;
$colorLvl2: rgb(252, 252, 252);
$colorBgDefault: rgb(245, 245, 245);
$colorBgLi: rgb(235, 235, 235);
$colorBgHeaderDark: #1d3752;
$colorIcons: #2c7695;
$colorReturnButton: #3f94b8;
$shadowBox: 0px 2px 3px 2px rgba(0, 0, 0, 0.05);

//forMobile
$fontP: 0.8rem;
$fontA: 0.7rem;
$fontH1: 2.3rem;
$fontH2: 1.3rem;
$fontH3: 1.1rem;
$fontH4: 0.9rem;
$fontH5: 1.6rem;

//forTablet
$fontTH1: 3rem;
$fontTH2: 2.5rem;
$fontTH4: 1rem;
$fontTH6: 1.4rem;

$lineHeight: 1.4;
